
# git config
.gitattributes    text
.gitignore        text
.gitconfig        text

#
# These files are binary and should be left untouched by git
# binary is a macro for -text -diff
#

# Graphics
*.ai              binary
*.bmp             binary
*.dds             filter=lfs diff=lfs merge=lfs binary
*.eps             binary
*.gif             binary
*.gifv            binary
*.ico             binary
*.jng             binary
*.jp2             binary
*.jpg             binary
*.jpeg            binary
*.jpx             binary
*.jxr             binary
*.pdf             binary
*.png             binary
*.psb             binary
*.psd             binary
*.pdn             binary
*.tga             filter=lfs diff=lfs merge=lfs binary


# Audio
*.kar             binary
*.m4a             binary
*.mid             binary
*.midi            binary
*.mp3             filter=lfs diff=lfs merge=lfs binary
*.ogg             filter=lfs diff=lfs merge=lfs binary
*.ra              binary
*.wav             filter=lfs diff=lfs merge=lfs binary

# Video
*.mp4             binary
*.mov             binary

# Archives
*.7z              binary
*.gz              binary
*.rar             binary
*.tar             binary
*.zip             binary

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary

# Other
*.pyc             binary
*.pdf             binary