
0_DEV/Map/tamriel_landed_titles.txt
gfx/models/portraits/creatures/skeleton/skeleton_head_normal.psd
gfx/models/portraits/creatures/skeleton/skeleton_body_normal.psd
gfx/models/portraits/creatures/skeleton/female_prop.anim
